<title>Review Portal</title>

<nav >
    <ul>
        <a href="/">Home</a>
        <a href="/professor/">Professor</a>
        <a href="/course/">Course</a>
        {% if user.is_authenticated %}
            <a href="/accounts/logout/" style="float:right;">logout</a>
            <a href="/accounts/profile/" style="float:right;">profile</a>
        {% endif %}
        {% if not user.is_authenticated %}
            <a href="/User/register/" style="float:right;">Register</a>
            <a href="/accounts/login/" style="float:right;">login</a>
        {% endif  %}
    </ul>
</nav>
{% block content %}
{% endblock %}