{% extends 'prof/base.html' %}
{% block content %}
<h3>Create a new Account</h3>
<p>Note: Create account with only your iitd email</p>
{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
<form class="form-horizontal" role="form" action="" method="post">
    {% csrf_token %}
    {% include 'user/form_template.html' %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</form>
<p>Already have account: </p><a href="/User/login/">Login here</a>
{% endblock %}