{% extends 'prof/base.html' %}
{% block content %}


<h1>{{course}}</h1>
<h2>{{course.course_name}}</h2>
<h3>{{course.course_credit}}</h3>
<p>{{course.course_detail}}</p>

<p>Your Review: </p>
<ul>
{% for review in all_reviews %}
    {% if review.reviewer in user.username %}
        <li>Rating out of 10: {{review.rating}}</li>
        <p>Comment: {{review.comment}}</p>
        <p>Review by: {{review.reviewer}}</p>
        <a href="/course/{{course.id}}/edit_review/{{review.id}}/">Edit</a>   <a href="/course/{{course.id}}/delete_review/{{review.id}}/">Delete</a>
    {% endif %}
{% endfor %}
</ul>

<a href="/course/{{course.id}}/add_review/">Review Course</a>
<h4>Reviews: </h4>
<ul>
{% for review in all_reviews %}
    {% if review.reviewer not in user.username %}
        <li>Rating out of 10: {{review.rating}}</li>
        <p>Comment: {{review.comment}}</p>
        <p>Review by: {{review.reviewer}}</p>
    {% endif %}
{% endfor %}
</ul>
{% endblock %}

